body {
    background-color: #e0bd6f;
    /*background-image: url('../images/javajambackground.jpg');*/
    color: #350505;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }
  nav{
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    float: left;
    width: 160px;
  }
  nav a{
    text-decoration: none;
  }
  nav ul{
    padding-left: 0px;
    font-size: 1.2em;
    list-style-type: none;
  }
  nav a:link{
    color: #8a553d;
  }
  nav a:visited{
    color: #886b52;
  }
  nav a:hover{
    color: #e0e0c0;
  }
  main{
    padding: 20px;
    display: block;
    background-color: #c5b791;
    margin-left: 175px;
  }
  main img{
    float: left;
    padding-right: 2em;
  }
  main ul {
      list-style-image: url('../images/marker1.gif');
      list-style-position: inside;
  }
  main div{
    overflow: auto;
    font-size: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
  h1{
    height: 100px;
    margin:0px;
    background-image: url('../images/javajambackground.jpg');
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
  }
  h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  h3{
    background-color: #cfc199;
    text-transform: uppercase;
  }
  dt{
   font-weight: bold;
  }
  header {
    background-color: #b99b73;
  }
  footer{
    background-color:#b99b73;
    color: black;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding: 10px;
  }
  footer a:link{
    color: #2b0505;
  }
  footer a:visited{
    color: #000000;
  }
  footer a:hover{
    color: #dbdbb8;
  }
  #wrapper{
    margin: auto;
    width: 80%;
    background-color: #c5b791;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px 3px #2b0505;
  }
  #hero{
    height: 300px;
    color: #dbdbb8;
    background-image: url('../images/heroroad.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%
  }
  .news{
    margin-left: 20%;
    margin-right: 20%;
  }